.vscode/tasks.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-179f02c9c7e27478d05d.json
build/.cmake/api/v1/reply/cmakeFiles-v1-932c75799f1fa3bb946e.json
build/.cmake/api/v1/reply/codemodel-v2-f792e1a023b2114c65bb.json
build/.cmake/api/v1/reply/directory-_deps.googletest-build-Release-325181791364522dc3de.json
build/.cmake/api/v1/reply/directory-_deps.googletest-build.googlemock-Release-80632345336dfc8ca5a3.json
build/.cmake/api/v1/reply/directory-_deps.googletest-build.googletest-Release-5fb4875ec9f753408214.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-src-Release-b6cf2213fc5053b67c22.json
build/.cmake/api/v1/reply/directory-tests-Release-b01f6abb0ab61427ef3b.json
build/.cmake/api/v1/reply/index-2023-11-01T18-19-59-0899.json
build/.cmake/api/v1/reply/target-ferrugo_ut-Release-938241322df76a693646.json
build/.cmake/api/v1/reply/target-ferrugo-Release-fd08c3e03b2059621fbf.json
build/.cmake/api/v1/reply/target-gmock_main-Release-9412fed2730a9f26e0b4.json
build/.cmake/api/v1/reply/target-gmock-Release-1055ae9b1996e2cd45c0.json
build/.cmake/api/v1/reply/target-gtest_main-Release-53d79a6eeb5df45df47f.json
build/.cmake/api/v1/reply/target-gtest-Release-1de22795a6ff308bb969.json
build/.cmake/api/v1/reply/toolchains-v1-5162ca28b2d656a75295.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.4/CMakeCCompiler.cmake
build/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.4/CMakeSystem.cmake
build/CMakeFiles/3.26.4/CompilerIdC/a.out
build/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.4/CompilerIdCXX/a.out
build/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Testing/TAG
build/Testing/20231101-1531/Test.xml
build/Testing/Temporary/LastTest_20231101-1531.log
build/_deps/googletest-build/cmake_install.cmake
build/_deps/googletest-build/CTestTestfile.cmake
build/_deps/googletest-build/googlemock/cmake_install.cmake
build/_deps/googletest-build/googlemock/CTestTestfile.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/src/gmock_main.cc.o
build/_deps/googletest-build/googletest/cmake_install.cmake
build/_deps/googletest-build/googletest/CTestTestfile.cmake
build/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
build/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-release.cmake
build/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.o
build/_deps/googletest-build/googletest/generated/gmock_main.pc
build/_deps/googletest-build/googletest/generated/gmock.pc
build/_deps/googletest-build/googletest/generated/gtest_main.pc
build/_deps/googletest-build/googletest/generated/gtest.pc
build/_deps/googletest-build/googletest/generated/GTestConfig.cmake
build/_deps/googletest-build/googletest/generated/GTestConfigVersion.cmake
build/_deps/googletest-subbuild/.ninja_log
build/_deps/googletest-subbuild/build.ninja
build/_deps/googletest-subbuild/cmake_install.cmake
build/_deps/googletest-subbuild/CMakeCache.txt
build/_deps/googletest-subbuild/CMakeLists.txt
build/_deps/googletest-subbuild/CMakeFiles/cmake.check_cache
build/_deps/googletest-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate-complete
build/_deps/googletest-subbuild/CMakeFiles/rules.ninja
build/_deps/googletest-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/googletest-subbuild/CMakeFiles/3.26.4/CMakeSystem.cmake
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.json
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-build
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-configure
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-done
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-download
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitclone-lastrun.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitinfo.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-install
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-mkdir
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-patch
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-test
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-cfgcmd.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitclone.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitupdate.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-mkdirs.cmake
build/lib/libgmock_main.a
build/lib/libgmock.a
build/lib/libgtest_main.a
build/lib/libgtest.a
build/src/cmake_install.cmake
build/src/CTestTestfile.cmake
build/src/ferrugo
build/src/CMakeFiles/ferrugo.dir/main.cpp.o
build/tests/cmake_install.cmake
build/tests/CTestTestfile.cmake
build/tests/ferrugo_ut
build/tests/CMakeFiles/ferrugo_ut.dir/test.optional.cpp.o
build/.cmake/api/v1/reply/index-2023-11-02T14-36-31-0304.json
build/Testing/20231102-1436/Test.xml
build/Testing/Temporary/LastTest_20231102-1436.log
